/* Register.css */
.register-login {
    background-color:#3E3E3E;
    border-radius: 10px;
    padding: 25px;
    margin-left: 400px;
    margin-right: 400px;
  }
  
  .register-login h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #5AC35A;
  }
  
  .register-login form {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .register-login label {
    margin-bottom: 5px;
    color: black;
    font-weight: 600;
  }
  
  .register-login input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #484848;
    border-color: #3E3E3E;
    color: #fff;
  }
  
  .register-login button {
    background-color: #5AC35A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }

  .icon {
    width: 16px;
    margin: 0;
    padding-right: 8px;
  }
  @media (max-width: 900px) {
    .register-login {
      max-width: 90%;
      margin: 50px auto;
      padding: 20px;
    }
  }