#root {
  width: 85vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #007BFF;
}

nav ul li a:hover {
  text-decoration: underline;
}
.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.absolute {
  position: absolute;
}
.left {
  left: 0.5rem;
}
.right {
  right: 0.5rem;
}
.top {
  top: 0.5rem;
}
.bottom {
  bottom: 0.5rem;
}
.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
