 
  .users_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 84px; 
    margin-bottom: 84px; 
    gap: 1rem;
  }
  .create-user-button {
    margin-top: 84px;
    background-color: #223D3C;
    color: #F8F3F2;
  }
  .users-list-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #223D3C;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .users-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 84px; 
    margin-bottom: 84px; 
    gap: 1rem;
  }