/* ActionButton.css */
.trip-card__button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  margin: 2px;
}

.trip-card__button:hover {
  background-color: #0056b3;
}
  
  .action-button.info-button {
    background-color: #28292a;
    color:  hsl(59, 98%, 49%);
  }

  
  .action-button.favorite-button:hover {
    background-color: #28292a;
    color:  hsl(59, 98%, 49%);
}
  
  
  .action-button:hover {
    opacity: 0.8;
  }
  