.navbar {
    background-color: #333;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .menu-icon {
    display: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .menu-icon.open {
    display: block;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
    text-decoration: none;
  }  

  .sign-in .nav-links {
    color: #77dd77;
    text-decoration: none;
  }

  .sign-in .nav-links:hover {
    color: #fff;
  }

  .sign-in {
    margin-left: right;
    color: #77dd77;
  }

  .nav-item:hover {
    color: #77dd77;
  }

  .sign-in:hover {
    color: #fff;
  }